<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Closed')"></button>
</div>
<div class="modal-body">
    <p>{{ message }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Closed')">Close</button>
    <button type="button" class="btn" [ngClass]="btnClass" (click)="activeModal.close('Confirmed')">{{ btnText }}
    </button>
</div>
