<div class="modal-header">
    <h4 class="modal-title">Generate Mosaic</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Closed')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <!-- Target ID -->
        <div class="mb-3">
            <label for="targetId" class="form-label">Target ID</label>
            <select
                id="targetId"
                class="form-select"
                formControlName="targetId"
                [class.is-invalid]="tid.invalid && (tid.dirty || tid.touched)"
            >
                @for (img of targetImages; track img.imageId) {
                    <option [value]="img.imageId">{{ img.name }}</option>
                }
            </select>
            @if (tid.invalid && (tid.dirty || tid.touched)) {
                <div class="invalid-feedback">
                    Target ID is required.
                </div>
            }
        </div>

        <!-- N -->
        <div class="mb-3">
            <label for="n" class="form-label">Number of Tiles in Mosaic</label>
            <input
                type="number"
                id="n"
                class="form-control"
                formControlName="n"
                min="0"
                [max]="maxN"
                [class.is-invalid]="n.invalid && (n.dirty || n.touched)"
            />
            @if (n.invalid && (n.dirty || n.touched)) {
                <div class="invalid-feedback">
                    @if (n.hasError('required')) {
                        N is required.
                    } @else if (n.hasError('min')) {
                        Must be ≥ 0.
                    } @else if (n.hasError('max')) {
                        Must be ≤ {{ maxN }}.
                    }
                </div>
            }
            <div class="form-text">Enter 0 to automatically use the maximum number of tiles.</div>
        </div>

        <!-- Algorithm -->
        <div class="mb-3">
            <label for="algorithm" class="form-label">Algorithm</label>
            <select
                id="algorithm"
                class="form-select"
                formControlName="algorithm"
                [class.is-invalid]="alg.invalid && (alg.dirty || alg.touched)"
            >
                <option value="LAP">LAP</option>
            </select>
            @if (alg.invalid && (alg.dirty || alg.touched)) {
                <div class="invalid-feedback">
                    Algorithm is required.
                </div>
            }
        </div>

        <!-- Subdivisions -->
        <div class="mb-3">
            <label for="subdivisions" class="form-label">Subdivisions</label>
            <input
                type="number"
                id="subdivisions"
                class="form-control"
                formControlName="subdivisions"
                min="1"
                [max]="maxSubdivisions"
                [class.is-invalid]="sd.invalid && (sd.dirty || sd.touched)"
            />
            @if (sd.invalid && (sd.dirty || sd.touched)) {
                <div class="invalid-feedback">
                    @if (sd.hasError('required')) {
                        Subdivisions are required.
                    } @else if (sd.hasError('min')) {
                        Must be at least 1.
                    } @else if (sd.hasError('max')) {
                        Cannot be more than {{ maxSubdivisions }}.
                    }
                </div>
            }
        </div>

        <div class="d-flex align-items-center mb-1" (click)="toggleExpanded()"
             style="cursor: pointer; user-select: none;">
            @if (isExpanded()) {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                        <path fill="currentColor"
                              d="M13.06 16.06a1.5 1.5 0 0 1-2.12 0l-5.658-5.656a1.5 1.5 0 1 1 2.122-2.121L12 12.879l4.596-4.596a1.5 1.5 0 0 1 2.122 2.12l-5.657 5.658Z"/>
                    </g>
                </svg>
            } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                        <path fill="currentColor"
                              d="M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12L8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z"/>
                    </g>
                </svg>
            }
            <strong>
                Advanced
            </strong>
        </div>
        <div class="collapse" [ngClass]="{'show': isExpanded()}">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Repetitions -->
                    <div class="mb-3">
                        <label for="repetitions" class="form-label">Repetitions</label>
                        <input
                            type="number"
                            id="repetitions"
                            class="form-control"
                            formControlName="repetitions"
                            min="1"
                            [max]="maxRepetitions"
                            [class.is-invalid]="rep.invalid && (rep.dirty || rep.touched)"
                        />
                        @if (rep.invalid && (rep.dirty || rep.touched)) {
                            <div class="invalid-feedback">
                                @if (rep.hasError('required')) {
                                    Repetitions are required.
                                } @else if (rep.hasError('min')) {
                                    Must be at least 1.
                                } @else if (rep.hasError('max')) {
                                    Cannot be more than {{ maxRepetitions }}.
                                }
                            </div>
                        }
                    </div>

                    <!-- Crop Count -->
                    <div class="mb-3">
                        <label for="cropCount" class="form-label">Crop Count</label> <!--TODO: description-->
                        <input
                            type="number"
                            id="cropCount"
                            class="form-control"
                            formControlName="cropCount"
                            min="1"
                            [max]="maxRepetitions"
                            [class.is-invalid]="cc.invalid && (cc.dirty || cc.touched)"
                        />
                        @if (cc.invalid && (cc.dirty || cc.touched)) {
                            <div class="invalid-feedback">
                                @if (cc.hasError('required')) {
                                    Crop Count is required.
                                } @else if (cc.hasError('min')) {
                                    Must be at least 1.
                                } @else if (cc.hasError('max')) {
                                    Cannot be more than {{ maxCropCount }}.
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Closed')">Close</button>
    <button type="button" class="btn btn-primary"
            (click)="submit()"
            [disabled]="form.invalid"
    >Generate
    </button>
</div>

