<div class="row row-gap-4">
    <div>
        <button class="btn btn-primary mb-3" (click)="createJob()" [disabled]="isCreating() || !hasTargetImage()">
            @if (isCreating()) {
                <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
                <span role="status">Creating...</span>
            } @else {
                Create New
            }
        </button>
    </div>

    @for (job of jobs(); track job.jobId) {
        <div class="col-6 col-lg-4">
            <div class="card" (click)="openJob(job.jobId)" style="cursor: pointer">
                @if (mosaics()[job.jobId]) {
                    <div class="card-img-top-wrapper" style="aspect-ratio: 4/3; overflow: hidden;">
                        <img
                            [src]="mosaics()[job.jobId].url"
                            class="card-img-top"
                            alt="Mosaic"
                            style="width: 100%; height: 100%; object-fit: cover;"
                        >
                    </div>
                }
                <div class="card-body">
                    <h5 class="card-title">{{ job.startedAt | date:'short' }}</h5>
                    <p class="card-text mb-1">Status: {{ JobStatus[job.status] }}</p>
                    <p class="card-text mb-1">Number of Tiles: {{ job.n }}</p>
                    <p class="card-text">Color Space: {{ job.colorSpace }}</p>
                    <p class="card-text mb-1">Subdivisions: {{ job.subdivisions }}</p>
                    @if (job.repetitions && job.repetitions > 1) {
                        <p class="card-text mb-1">Repetitions: {{ job.repetitions }}</p>
                    }
                    @if (job.cropCount && job.cropCount > 1) {
                        <p class="card-text mb-1">Crop Count: {{ job.cropCount }}</p>
                    }

                    @if (job.status === JobStatus.Finished || job.status === JobStatus.Failed) {
                        <p class="card-text">Finished: {{ job.finishedAt | date:'short' }}</p>
                        <button class="btn btn-danger" (click)="$event.stopPropagation(); deleteJob(job.jobId)">Delete
                        </button>
                    }
                </div>
            </div>
        </div>
    }

</div>
