<h3>Testing GET Requests</h3>
<form ngbAutofocus>
    <div class="mb-3">
        <label for="endpointInput" class="form-label">Endpoint</label>
        <input
            type="text"
            class="form-control"
            id="endpointInput"
            [(ngModel)]="endpoint" name="endpoint"
        />
    </div>
    <button type="submit" class="btn btn-primary" (click)="sendGet()">
        Send GET Request
    </button>
</form>

<div class="mt-3">
    <button class="btn btn-primary" (click)="register()">
        Register
    </button>
</div>

<div class="mt-3">
    <button class="btn btn-primary" (click)="login()">
        Login
    </button>
    <button class="ms-3 btn btn-warning" (click)="logout()">
        Logout
    </button>
</div>

<div class="mt-3">
</div>

@if (result()) {
    <ngb-alert [type]="'success'" [dismissible]="false" class="mt-3">
        <span>{{ result() }}</span>
    </ngb-alert>
} @else if (error()) {
    <ngb-alert [type]="'danger'" [dismissible]="false" class="mt-3">
        <span>{{ error() }}</span>
    </ngb-alert>

}
